.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--yellow-theme-main-color);
    overflow: hidden;

    .content {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        width: 100%;
    }

    h2 {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 1rem;
        text-transform: capitalize;
        color: var(--yellow-theme-main-color);
        flex-grow: 1;
    }

    span {
        svg {
            color: var(--yellow-theme-main-color);
        }
    }

    #tsparticles-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}